<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=skills[0]%></title>
</head>
<body>
        <h1>Skill <%=skills[1]%>:</h1>
        <h1><%=skills[0]%></h1>
        <form action="/skills/<%=skills[1]-1%>/edit" method="post">
            <input type="text"name ="newSkill" >
            <button>Submit change</button>
        </form>
</body>
</html>